<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>
	<system.serviceModel>
		<services>
   <service name="WordCountServices.MapReduceServices">
    <endpoint address="" behaviorConfiguration="RFEndPointBehavior"
     binding="webHttpBinding" bindingConfiguration="" contract="WordCountServices.IMapReduceServices" />
   </service>
  </services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="RFEndPointBehavior">
					<webHttp helpEnabled="true" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<diagnostics>
			<messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
		</diagnostics>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true" />
	<handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>

</configuration>
